
*.ide-wal
.vs/RestaurantManager/v15/.suo
.vs/RestaurantManager/v15/.suo
.vs/RestaurantManager/v15/Server/sqlite3/storage.ide
*.ide-shm
*.ide-wal
RestaurantManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
