
Code/.vs/RestaurantManager/v15/.suo
Code/.vs/RestaurantManager/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
Code/.vs/RestaurantManager/v15/Server/sqlite3/storage.ide-wal
Code/.vs/RestaurantManager/v15/Server/sqlite3/storage.ide-shm
