
*.ide-wal
.vs/*
.vs/RestaurantManager/v15/.suo
.vs/RestaurantManager/v15/.suo
.vs/RestaurantManager/v15/Server/sqlite3/storage.ide
*.ide-shm
*.ide-wal
RestaurantManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/RestaurantManager/v15/.suo
*.ide
*.ide-shm
*.ide-wal
.vs/RestaurantManager/v15/.suo
Code/.vs/RestaurantManager/v15/.suo
*.ide-shm
Code/RestaurantManager/obj/Debug/RestaurantManager.csproj.CoreCompileInputs.cache
Code/.vs/RestaurantManager/v15/Server/sqlite3/storage.ide-shm
